@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;600&display=swap');

body {
    font-family: 'Mukta', sans-serif;
    font-weight: 200;
}

.bg-login{
    width: 1920px;
    height: 924px;
    background-image: url('../../img/sawah.png');
    background-size: cover;
}

.namabutton {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0D562A;
    height: 100px;
    width: 100%;
}

.digides-digital {
    font-weight: bold;
    font-size: 15px;
}

#icon {
    width: 40px;
    margin-left: 20px;
}

.memulai {
    font-size: 45px;
    color: #ffffff;
}