@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;600&display=swap');


.digides-digital {
    font-weight: bold;
    font-size: 15px;
}

#icon {
    width: 40px;
    margin-right: 50px;
    margin-left: 25px;
}

#ktp {
    font-weight: bold;
    font-size: 24px;
}

#pt {
    color: #327A6D;
}

body {
    font-family: 'Mukta', sans-serif;
    font-weight: 200;
}

.bg-login{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #0d562a52, #20551a52, #ffc80052), url('../../img/kampungluwu.png');
    background-position: center;
    background-size: cover;
}

#bg-hijau {
    height: 100%;
    width: 100%;
    background-color: #0D562A;
    opacity: 0.5;
    /* filter: brightness(0) saturate(100%) invert(21%) sepia(8%) saturate(5665%) hue-rotate(97deg) brightness(105%) contrast(90%); */
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    left: 0;
}

.memulai {
    font-size: 45px;
    color: #0D562A;
}

.surat {
    background-color: #0D562A;
    width: 35%;
    height: 14%;
    margin-top: 60px;
    padding-bottom: 30px;
    margin-left: 90px;
}

.alif {
    padding-top: 18px;
    margin-left: 37px;
}

.cetak {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 58px;
}

.buat-surat {
    font-size: 20px;
    color: #ffffff;
    margin-left: 58px;
}

#logoluwuk {
    width: 95px;
}

.selamatdatang {
    font-size: 75px;
    font-weight: 600;
    color: #ffffff;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: right;
}

.mandi {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    margin-right: 50px;
    text-align: right;
}

#gubernur {
    width: 33%;
    margin-left: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.namabutton {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    height: 100px;
    width: 100%;
}

#logoluwu{
    width: 240px;
}

.bg-login .container #garis {
    width: 318px;
    height: 1px;
    background-color: white;
}

.form-masuk div input{
    width: 695px;
    height: 106px;
    background-color: #F5F5F5;
}

.form-masuk div input::placeholder{
    font-size: 22px;
}

.tombol-masuk {
    width: 695px;
    height: 113px;
    font-size: 30px;
    background-color: #0D562A;
    color: white;
    font-weight: bold;
}

.tombol-scan {
    width: 695px;
    height: 128px;
    font-size: 30px;
    background-color: white;
    color: #0D562A;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    align-self: center;
}

#scans {
    color: #0D562A;
}

#scan {
    width: 30px;
    margin-bottom: 16px;
}

#ktp {
    width: 400px;
}

.bg-belakang {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
}

.huruf-tebal {
    font-weight: 900;
}